#users
  %table
    - @users.each do |user| 
      %tr.user{ :class => cycle("even", "odd") }
        %td
          = link_to image_tag(user.gravatar_url, :alt => "#{h user.name} gravatar"), user_path(user)
        %td
          %a.name{ :href => user_path(user) }= h(user.name)
          %p
            - if user.admin?
              %em Administrator
            = user.email.blank? ? "No e-mail address given" : "Send private message"
