#meta
  - if logged_in? and (is_current_user? @user or admin?)
    = link_to 'Edit', edit_user_path(@user)

#user
  %h1= h(@user.name)
  %p
    - if @user.admin?
      %em Administrator
    = @user.email.blank? ? "No e-mail address given" : "Send private message"

  - unless @user.profile.blank?
    %hr
    = user_html @user.profile

